* {
  margin: 0;
  padding: 0;
  background-color: white;
}
#myCanvas {
  border: solid black 2px;
  margin: 0 auto;
}
#feriCanvas {
  margin-top: 15px;
  margin-left: 15px;
  border: 2px dotted black;
}

#feriCanvas {
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 15px 1px 20px 8px rgba(0, 0, 0, 0.7);
}
